<!DOCTYPE html>

<html lang="en">

  <head>
      <meta charset="utf-8">
      <title>File Energy</title>
      <link rel="shortcut icon" href="/static/img/logo.png"/>

      <script type="text/javascript" src="/static/js/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css">

      {% block js %}
      {% endblock %}
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
     <div class="navbar-inner">
       <div class="container">
         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>
         <a class="brand" href="/">File Energy</a>
         <div class="nav-collapse collapse" id="main-menu">
          <ul class="nav" id="main-menu-left">

            <li><a href="/file/upload/">Upload</a></li>
            <li><a href="/file/list/">My Files</a></li>

          </ul>
          <ul class="nav pull-right" id="main-menu-right">
            {% if not g.user.is_authenticated() %}
            <li><a href="/user/login/">Login</a></li>
            <li><a href="/user/register/">Signup</i></a></li>
            {% else %}
            <li><a href="/file/list/">Welcome {{g.user.username}}</a></li>
            <li><a href="/user/logout/">Logout</a></li>
            {% endif %}
          </ul>
         </div>
       </div>
     </div>
    </div>

    <div class="container">

      <section id="content">

      <div class="page-header">
        <h1>{% block header %}{% endblock %}</h1>
      </div>

      {% block content %}
      {% endblock %}

      </section>

      <hr>

      <footer id="footer">
        Author: <a href="https://github.com/jmg">Juan Manuel García</a>. Contact him to ask for customization <a href="mailto:jmg.utn@gmail.com">jmg.utn@gmail.com</a>.<br>
      </footer>

    </div>

  </body>
</html>