{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
function downloadFileNow(h) {

    location.href = "/file/downloadnow/?h=" + h;
}

function makePublic(id, checkbox) {

    $.post("/file/make_public/", {id: id, is_public: checkbox.checked}, function() {

    });
}
</script>
{% endblock %}

{% block header %}Download{% endblock %}

{% block content %}

  <div class="row well file-list">

    <div><span>File name:</span> {{file.name}}</div>
    <div><span>File size:</span> {{file_size}} Kb</div>
    <div><span>Uploaded on:</span> {{file.created_at.strftime("%d-%m-%Y %H:%M")}}</div>
    <div><span>Uploaded by:</span> {{file.user.username}}</div>
    <div><span>Is Public:</span> <input {% if file.user == g.user %}onchange="makePublic({{file.id}}, this)"{% else %}disabled="disabled"{% endif %} type="checkbox" {% if file.is_public %}checked="checked"{% endif %}/></div>

    <div class="download-btn"><button onclick="downloadFileNow('{{file.url}}')" class="btn btn-primary">Download Now!</button></div>

  </div>

{% endblock %}