{% extends "base.html" %}

{% block js %}
<script type="text/javascript">

function deleteFile(id) {

    var response = confirm("Are you sure you want to delete it?");

    if (response == true) {

        $.post("/file/delete/", {id: id}, function() {

            var file = $("#file-" + id);
            file.fadeOut(function() {
                file.remove();
            })
        });
    }
}

function downloadFile(h) {

    location.href = "/file/download/?h=" + h;
}

</script>
{% endblock %}

{% block header %}My Files{% endblock %}

{% block content %}

  <div class="row well">

    {% include "file/_files.html" %}

  </div>

{% endblock %}