{% extends "base.html" %}

{% block js %}
<script type="text/javascript">

function deleteFile(id) {

    var response = confirm("Are you sure you want to delete it?");

    if (response == true) {

        $.post("/file/delete/", {id: id}, function() {

            var file = $("#file-" + id);
            file.fadeOut(function() {
                file.remove();
            })
        });
    }
}

function downloadFile(h) {

    location.href = "/file/download/?h=" + h;
}

</script>
{% endblock %}

{% block header %}My Files{% endblock %}

{% block content %}

  <div class="row well">

    {% for file in files %}
    <li id="file-{{file.id}}">
        <a href="/file/download/?h={{file.url}}">{{file.name}}</a>

        <div class="actions">
            <img title="download" src="/static/img/download.png" onclick="downloadFile('{{file.url}}')"/>
            <img title="delete" src="/static/img/delete.png" onclick="deleteFile('{{file.id}}')"/>
        </div>
    </li>
    {% endfor %}
    </ul>

  </div>

{% endblock %}