{% extends "base.html" %}

{% block header %}Upload Files{% endblock %}

{% block content %}


  <div class="row">

    <form class="form-horizontal well" method="POST" action="/file/upload/" enctype='multipart/form-data'>
        <fieldset>

          <div class="control-group">
            <label class="control-label" for="fileInput">File</label>
            <div class="controls">
              <input class="input-file" id="fileInput" type="file" name="file">
            </div>

            <label class="control-label" for="fileInput">Make public</label>
            <div class="controls">
              <input type="checkbox" name="is_public">
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </fieldset>
      </form>

  </div>

{% endblock %}