{% extends "registration/registration_base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}

<div class="int-page-heading">
  <div class="inner-wrap">
    <h2 class="int-page-title">Log in</h2>
  </div>
</div>

<div class="int-page-content margins">

  <div class="top-shadow"></div>

  <div class="inner-wrap">



    <div style="color: #373737; font-size: 15px; line-height: 20px; margin-bottom: 8px;">
      Forgot your password?<br/> Enter your email in the form below and we'll send you
      instructions for creating a new one.
    </div>
    <form method='post' action=''>
      {% csrf_token %}
      <section>
        {{ form }}
      </section>
      <div class="send_message">
        <input type="image" src="{{CDN_URL}}/media/img/public/reset-pass.png" alt="Reset password" />
      </div>
    </form>



  </div><!--inner-wrap-->

</div><!--int-page-content-->

{% endblock %}
