{% extends "base.html" %}

{% block header %}Signup{% endblock %}

{% block js %}
<script type="text/javascript">

function singup(form) {

    var form = $(form);
    $.post("/user/register/", form.serialize(), function(response) {

        var response = JSON.parse(response);
        if (response.status != "ok") {

            var error = $("#error");
            error.text(response.error);
            error.show();
        } else {
            location.href = response.url;
        }
    })
}

</script>
{% endblock %}

{% block content %}    

    <div id="error" class="error hide"></div>

    <article id="signup">
        <hgroup>
            <h1></em></h1>
        </hgroup>
        <form method="post" id="form" onsubmit="singup(this); return false;">
            {% csrf_token %}
            <div class="group">
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="required">
                </div>
                <div>
                    <label for="email">Email address:</label>
                    <input type="text" name="email" id="email" class="required email">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" class="required">
                </div>
                <div>
                    <label for="password-confirmation">Confirm Password:</label>
                    <input type="password" name="password-confirmation" id="password-confirmation" class="required">
                </div>
            </div>
            <div class="terms">            
            </div>
            <div class="mod">
                <input type="submit" class="btn btn-primary" value="Register now">
            </div>
        </form>
    </article>

{% endblock %}
