.page-header {
    margin-top: 40px;
}

section#content {
    min-height: 700px;
}

footer {
    margin-bottom: 20px;
}

.navbar {
    position: relative;
}

.hide {
    display: none;
}

div.actions {
    margin-left: 10px;
    display: inline;
}

div.actions img {
    cursor: pointer;
    width: 16px;
    margin-left: 4px;
}

.file-list {
    line-height: 26px;
}

.file-list span {
    font-weight: bold;
}

.download-btn {
    margin-top: 20px;
}

.error {
    color: red;
}